html {

/*  height: 100%;
  overflow: hidden;
  width: 100%;*/
}

body {
  margin: 0 auto;
  font-family: 'Quicksand', sans-serif;
}

header{
  width: 100%;
  height: 100px;
  background-color: white;
  border-bottom: 1px solid grey;
  z-index: 1;
  position: fixed;
  font-weight: bold;
}


h2 {
  float: left;
  margin-top: 35px;
  margin-left: 75px;
}

.fa{
  font-size: 18px;
}

div.cart {
  float: right;
  margin-top: 20px;
  margin-right: 75px;
}

button#clear {
  padding-left: 0px;
}

button#clear:hover, button#clear:active {
  color: #778585;
}

.container {
  padding-top: 140px;
}

div.card-block{
  padding-bottom: 30px;
  padding-top: 15px;
  font-family: 'Roboto', sans-serif;
}

h4.card-title{
  height: 50px;
  font-family: 'Roboto', sans-serif !important;
}

h5.card-subtitle.color {
  margin-top: -30px;
}

img{
  width: 293px;
  height: 293px;
}

.items {
  clear: both;
}

.fa-plus{
  float: left;
  margin-left: 5px;
}

.fa-minus{
  float: right;
  margin-right: 20px;
}

button {
  border: none;
  background-color: transparent;
  padding: 0px 15px;
  outline: none;
}

span#right {
  float: right;
}


span#left {
  float: left;
}

div.card {
  text-align: center;
}

ul{
  list-style: none;
}

footer {
  height: 50px;
  text-align: center;
}

button.vouchers {
  font-size: 16px;
  font-weight: bold;
  color: grey;
  /*color: #64997A;*/
}

button.vouchers:hover, button.vouchers:focus {
  color: black;
  outline: none;
}