body {
  background-color: pink;
  width: 900px;
  margin: 0 auto -100px;
}

h2 {
  float: left;
}
.fa{
  font-size: 18px;
}
div.cart {
  float: right;
  margin-top: 20px;
}

.items {
  clear: both;
}

button {
  border: none;
  background-color: transparent;
  padding: 0px 0px;
}



ul{
  list-style: none;
}